*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  line-height: 32px;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  font-family: 'Commissioner', sans-serif;
}

.nav {
  margin: 0 auto;
  background: #F94F4F;
  z-index: -5;
}

.sticky {
  position: fixed;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-container::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  background: #fff;
  z-index: 1;
  width: 45%;
  height: 165px;
  z-index: 0;
}

.logo-wrapper {
  z-index: 5;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 10;
  padding: 50px 40px;
  width: 705px;
}

.nav-links > li:not(:first-child) {
  margin-left: 30px
}

.link {
  padding: 1rem;
}

.btn {
  display: inline-block;
  padding: 20px 45px;
  line-height: 19.57px;
  font-size: 16px;
  background: black;
  color: #fff;
  outline: none;
  border: 2px solid transparent;
  cursor: pointer;
}

.btn--close-modal:hover {
  transform: rotate(360deg);
  transition: all 0.7s;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.text-content {
  position:absolute ;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.header-title {
  font-weight: 900;
  font-size: 80px;
  max-width: 710px;
  margin-bottom: 40px;
}

.header-description {
  font-size: 18px;
  max-width: 540px;
  margin-bottom: 50px;
}

.header-btn {
  background: #F94F4F;
}

.slide-container {
  display: flex;
  background: #000;
  z-index: -1;
}

.slide-right {
  padding: 200px 150px;
}

.slide-title {
  color: #fff;
  font-size: 56px;
  margin-bottom: 45px;
}

.slide-span,
.slide-link {
  color: #F94F4F;
  position: relative;
}

.slide-description {
  color: #fff;
  max-width: 450px;
  margin-bottom: 50px;
  line-height :32px
}

.slide-link::after {
  position: absolute;
  content: '';
  border-bottom: 1px solid #F94F4F;
  top: 25px;
  left: 0;
  bottom: 0;
  width: 100%;
}

.services-container {
  display: flex;
}

.services-container > div {
  width: 50%;
}

.services-content-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-title {
  font-size: 56px;
  line-height: 64px;
  max-width: 540px;
}

.services-right-side {
  background: #F94F4F;
  color: #fff;
}

.services-right-container {
  padding: 200px 50px 180px 200px;
}

.box {
  max-width: 504px;
  margin-bottom: 55px;
}

.box > h4 {
  font-size: 20px;
  margin-bottom: 24px;
  font-weight:700;
  line-height :32px;
}

.box > p {
  font-size: 18;
  font-weight:400;
  line-height :32px;
  max-width: 445px;
}

.project {
  margin-bottom: 120px;
}

.project-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.project-content {
  position: absolute;
  left: 30%;
  top: 5%;
  padding: 150px 100px;
  background: #000;
  color: #fff;
}

.project-bg-image {
  width: 100%;
  height: 100%;
}

.project-content > h1 {
  font-size: 56px;
  line-height: 64px;
  margin-bottom: 50px;
  max-width: 445px;
}

.svg-wrapper {
  display: flex;
  max-width: 40px;
  cursor: pointer;
}

.svg-wrapper > img:not(:last-child) {
  margin-right: 20px;
}

.footer-btn {
  background: #F94F4F;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1110px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.footer-title {
  font-size: 56px;
  line-height: 64px;
  max-width: 635px;
}

.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}


@media (max-width: 1440px) {
  .project-content {
    left: 0;
  }
}


























/* MODAL WINDOW */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2.5rem;
}

.modal__form label {
  font-size: 1.7rem;
  font-weight: 500;
}

.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
